.App {
  text-align: center;
}
.st-sl-app{
  background-color: #f3f3f3;
  min-height: 100vh;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* lOADER */
.st-int-stl{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  h4{
    margin-top: 10px;
  }
}
.loader-container{
  position: relative;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  text-align: center;
}
.loader {
  position: relative;
  width: 100%;
  height: 100%;
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #63db34; /* Blue */
  border-radius: 50%;
  animation: spin 2s linear infinite;
}
.logoPro{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/*  Otros */
.st-hv-cl:hover{
  background: #79cf57;  
}
.nb-st{
  background: #dedede;
}